<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="margin:0;padding:0;overflow: hidden;">
    <header style="position: absolute;top:0;height:120px;line-height:80px;width:100%;background:#eaeaea;">
        <h1 style="margin-left:90px;">角色管理</h1>
    </header>
    <nav style="position: absolute;top:120px;bottom:0;left: 0;width: 16%;background: #ccc;text-align: center;">
        <a style="display:block;margin-top:20px;" class="menu" href="/cmdb/home/">用户列表</a>
        <a style="display:block;margin-top:20px;" class="menu" href="/cmdb/adduser/">用户管理</a>
        <a style="display:block;margin-top:20px;" class="menu" href="/cmdb/addgroup/">用户组管理</a>

    </nav>
    <div style="position: absolute;top:120px;width:84%;bottom:0;right: 0;background: #fff" class="role_list">
        <h2 style="margin-left:30px;">用户列表</h2>
        {% for row in user_list %}
            <a style="display: block;margin:10px 60px;" href="/cmdb/detail/{{ row.id }}.html">{{ row.username }}</a>
        {% endfor %}
    </div>
</body>
</html>