{% for row in books %}
    <tr>
        <td hidden>{{ row.id}}</td>
        <td class="itemID"></td>
        <td><a title="{{ row.name}}" target="_blank" href="{{ row.url}}">{% if row.name|length > 15 %}《{{ row.name|slice:'15'}}...》{% else %}《{{ row.name}}》{% endif %}</a></td>
        <td>{{ row.author_m2m_book__aobj__name }}</td>
{#        <td><a target="_blank" href="{{ row.url}}">{{ row.url}}</a></td>#}
        <td>{{ row.abstract|slice:'45' }}...</td>
        <td>{{ row.createTime }}</td>
        <td>{{ row.updateTime }}</td>
    </tr>
{% endfor %}


