{% extends '_layout_index.html' %}

{% block content %}
    <div class="mask" hidden>
        <div class="detailPanel">
            <table>
                <tr><td><label>用户组名称：</label></td><td><input type="text" name="typename" /></td></tr>
                <tr><td></td><td><a class="button" id="submit">提交</a><a class="button" id="cancel">取消</a></td></tr>
            </table>
        </div>
    </div>

    <a id="adduser" href="javascript:void(0);">添加用户组</a>
    <table class="userinfo">
        {% for row in types %}
            <tr>
                <td hidden>{{ row.id }}</td>
                <td>{{ row.name }}</td>
                <td><a class="modify" href="javascript:void(0);">修改</a><a class='delete' href="javascript:void(0);">删除</a></td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}
{% block js %}
    <script>
        $(function () {
            $('#adduser').click(function () {
               $('.mask').show();
            });
            $('#cancel').click(function () {
               $('.mask').hide();
            });
            $('#submit').click(function () {
                var typename = $('input[name="typename"]').val();
               $.ajax({
                   url: "/app01/addUserType/",
                   type: "POST",
                   data: {'typename':typename},
                   success:function (data) {
                       $('.mask').hide();
                       window.location.reload()
                   }
               });
            });
            $('.delete').each(function () {
                $(this).click(function () {
                    var c = confirm('确定要删除该角色？');
                    if(c==true){
                         var id = $(this).parent().parent().children().first().text()
                        $.ajax({
                            type:'POST',
                            url:'/app01/deleteUserType/',
                            data:{'id':id},
                            success:function () {
                                $('.mask').hide();
                                window.location.reload()
                            }
                        });
                    }
                });
            });
        });
    </script>
{% endblock %}